.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);
  max-width: 600px;
  min-height: 4.5rem;
  line-height: 1.2;
  text-align: center;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
  border: 3px solid transparent;
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  z-index: 1;
  padding: 2rm;
}