.experienceGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.textbox {
    border: 3px solid var(--mantine-primary-color-contrast);
    border-radius: var(--mantine-radius-md);
    position: relative;
    z-index: 1;
    padding: 1.5rem;
    overflow: hidden;
    transition: transform 0.1s ease;
    flex: 1 1 calc(50% - 2rem);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    text-align: left;
    word-break: break-word;
    width: 100%;
}

.textbox:hover {
    transform: translateY(-4px) scale(1.02);
}

.textbox::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(135deg, #66ffe0, #3366ff, #cc33ff);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    content: '';
    filter: blur(6px);
    pointer-events: none;
    animation: pulseBorder 2s infinite ease-in-out;
}


@keyframes pulseBorder {
    0%, 100% {
        filter: blur(4px);
        opacity: 0.6;
    }
    50% {
        filter: blur(6px);
        opacity: 1;
    }
}

.categoryTitle {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--mantine-primary-color);
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}


.twocolumn,
.onecolumn {
    display: grid;
    justify-content: center;
    align-items: center;
    list-style-position: inside;
    padding-left: 0;
    gap: 0.5rem 1.5rem;
    font-size: 1.125rem;
    text-align: left;
}

.twocolumn {
    grid-template-columns: repeat(2, max-content);
}

.onecolumn {
    grid-template-columns: 1fr;
}

@media (max-width: 768px) {
    .experienceGrid {
        flex-direction: column;
        align-items: center;
    }



    .responsive-text {
        font-size: 0.875rem;
    }
}

.textwrapper {
    margin-top: auto;
    margin-bottom: auto;
}