.navbar {
    top: 5px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    position: absolute;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    border: 3px solid transparent;
    border-radius: var(--mantine-radius-md);
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo {
    flex-shrink: 0;
    position: fixed;
}

.nav-links-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 0.25rem;
}

.nav-links a {
    text-decoration: none;
}
