.textbox {
    border: 3px solid var(--mantine-primary-color-contrast);
    border-radius: var(--mantine-radius-md);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    width: 100%;
    height: auto;
    flex: 1;
}



@media (max-width: 768px) {
    .textbox {
        height: auto;
        overflow-y: auto;
    }
}

@media (min-width: 769px) {
    .imagebox {
        height: 100%;
    }
}


.imagebox {
    border: 3px solid var(--mantine-primary-color-contrast);
    border-radius: var(--mantine-radius-md);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    flex: 1;
    max-height: 100%;
}


.AboutMeLeftContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutMeRightContainer {
    display: flex;
    align-items: center;
    height: auto;
}

.responsive-text {
    font-size: 1.125rem;
}

@media (max-width: 768px) {
    .responsive-text {
        font-size: 0.875rem;
    }
}
